

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    font-family:Arial, Helvetica, sans-serif;}
   background-color: #f2f2f2;
}
.nav_custom{
    background-color: #143d64;
    color: #fff;
    height: 70px;
}
.nav_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.nav_links{
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}
.header_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh  - 70px);
}














@media screen and (max-width:800px){
    
    
    .nav_custom{
        height: 100px;
        
    }
 .nav_container{
        flex-direction: column;
        justify-content: space-around;
    }
    .header_main{
    
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    

    
}
    
    
    
    
